/* 스크롤 기능은 유지 + 스크롤바만 숨김 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari */
}



