*{
padding:0;
margin:0;
box-sizing:border-box
}

.phone-input::-webkit-inner-spin-button,
.phone-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone-input {
  -moz-appearance: textfield;
  appearance: textfield;
}