/* 기본 박스 모델 */
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 전화번호 input 스피너 제거 */
.phone-input::-webkit-inner-spin-button,
.phone-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone-input {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 이미지 드래그 방지 */
img {
  -webkit-user-drag: none;
  user-drag: none;
}

/* 입력 요소는 선택 가능 */
input,
textarea,
select {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
