/* 웹폰트 불러오기 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
  format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "PyeojinGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2")
  format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* tailwind.config.js를 명시적으로 로드 */
@config "../tailwind.config.js";

/* Tailwind 불러오기 (v4 방식) */
@import "tailwindcss";

/* 기본 폰트를 Pretendard로 */
body {
  font-family: "Pretendard", system-ui, sans-serif;
}

/* 리셋 */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
}

input{
  border: 2px solid #D3D3D3;
}