@import "tailwindcss";

/* 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

/* 요청 들어올 시, 새로운 요청인 걸 구분짓기 위한 깜빡임 애니메이션 */

@keyframes blink-dot {
  0% { opacity: 1; }
  10% { opacity: 0.9; }
  20% { opacity: 0.8; }
  30% { opacity: 0.7; }
  40% { opacity: 0.6; }
  50% { opacity: 0.5; }
  60% { opacity: 0.4; }
  70% { opacity: 0.3; }
  100% { opacity: 1; }
}

.blink-dot {
  animation: blink-dot 1.6s infinite ease-in-out;
}



/* 화살표 애니메이션으로 스크롤 예고해주는 역할 */

@keyframes arrowBounce {
  0%   { transform: translateY(0); opacity: 0.4; }
  50%  { transform: translateY(6px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.4; }
}

.arrow-bounce {
  animation: arrowBounce 1.4s ease-in-out infinite;
}


/* 알림 아이콘 애니메이션 */

@keyframes notifyGlow {
   0% {
    box-shadow: 0 6px 0px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    }
    100% {
      box-shadow: 0 6px 0px rgba(0, 0, 0, 0);
    }
}
.notify-glow {
  animation: notifyGlow 1.2s ease-in-out infinite;
}


/* 주의, 경고 알림이 올 때 쉐도우 부근이 웅웅... 맥동(Pulse)효과남 */

@keyframes caution-pulse {
  0% {
    box-shadow: 0px 4px 4px rgba(255,215,0,0.25);
  }
  50% {
    box-shadow: 0px 4px 10px rgba(255,215,0,0.65);
  }
  100% {
    box-shadow: 0px 4px 4px rgba(255,215,0,0.25);
  }
}

.caution-pulse {
  animation: caution-pulse 1.4s ease-in-out infinite;
}



/* 경고, 위험 알림이 올 때 쉐도우 부근이 웅웅..맥동(Pulse)효과남 */

@keyframes urgent-pulse {
  0% {
    box-shadow: 0px 4px 4px rgba(255,0,0,0.25);
  }
  50% {
    box-shadow: 0px 4px 10px rgba(255,0,0,0.65);
  }
  100% {
    box-shadow: 0px 4px 4px rgba(255,0,0,0.25);
  }
}

.urgent-pulse {
  animation: urgent-pulse 1.3s ease-in-out infinite;
}

